{% extends 'layout.html' %}

{% block main %}
     <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">  
     <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
     <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="/public/js/markdown.js"></script>
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<div class="a-userNav">
		<span><a href="/">管理首页</a></span>
		<span> / </span>
		<span>内容添加</span>
	</div>
	<form style="padding-left: 50px;margin-top: 20px;" method="post">
		<div>
			<label for="category">分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类:</label>
			<select name="category" id="category" style="width: 200px;">
				{% for category in categories %}
				<option value="{{category.id}}">{{category.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<label for="title">内容标题:</label>
			<input type="text" name="title" id="title" style="width: 200px;">
		</div>
		<div>
			<label for="desciption">简&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;介:</label>
			<input type="desciption" name="desciption" id="desciption" style="width: 200px;">
		</div>
<!-- 		<div>
			<label for="content" style="vertical-align: top;">内&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容:</label>
			<textarea type="content" name="content" id="text-input" oninput="this.editor.update() style="display:none;"></textarea>
			<div id="preview"> </div>
		</div> -->
		<div style="width:100%;padding:7px;">
		<button type="button" align="center" class="btn btn-primary btn-lg" style="font-size:30px;">
		  <span class="glyphicon glyphicon-user"></span> 嗨，左边输入markdown语句，右边实时预览
		</button>
		</div>
		<label for="content" style="vertical-align: top;">内容:</label>
		<textarea type="content" name="content" id="text-input" oninput="this.editer.update()" style="width:50%;height:768px; background:#CBEFD9;font-size:22px;">
		</textarea>
		<div id="preview" style="float:right;width:45%;height:768px; border:0.5px solid #315;background:#e6e6e6;"></div>
		<script src='markdown.js'></script>
		<script type="text/javascript">
		    function Editor(input , preview){
		        this.update = function(){
		            preview.innerHTML = markdown.toHTML(input.value);
		        };
		        input.editer = this
		        this.update()
		    }

		    var $ = function(id) {
		        return document.getElementById(id)
		    }
		    new Editor($("text-input"),$("preview"))
		</script>
		<button type="submit">提交</button>
	</form>
{% endblock %}