<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="public/js/index.js"></script>
</head>
<body>
    <div class="wrap">
		<div id="header">
			{% if category == '' %}
				<a href="/index" id="logo">首页</a>
			{% endif %}
			<ul class="list-ul" id="nav">				
				<li class="list-li">
						<a href="/" class="list-li">blog</a>
				</li>
				{% for cate in categories %}
				{% if category == cate.id %}
				<li class="list-li">
					<a href="?category={{cate.id}}" class="list-li">{{cate.name}}</a>
				</li>
				{% else %}
				<li class="list-li">
					<a href="?category={{cate.id}}" class="list-li">{{cate.name}}</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>

        {% block content %}{% endblock %}
    </div>
</body>
</html>